@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;1,400&display=swap");
@import "tailwindcss";
@import "@repo/tailwind-config";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-custom: "Instrument Serif", serif;
  --font-sans: ${dmSans.style.fontFamily};
  --color-primary: var(--F06351);
}

.main_text {
  position: relative;
  /* transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1); */
  transition-duration: 400ms;
  transition-property: color;
  width: fit-content;
}

.main_text:focus,
.main_text:hover {
  color: #000000;
}

.main_text:focus:after,
.main_text:hover:after {
  width: 100%;
  left: 0%;
}

.main_text:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff7b00;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 13s linear infinite;
  will-change: transform;
  display: flex;
}

/* pause animation when parent (group) is hovered */
.group:hover .animate-infinite-scroll {
  animation-play-state: paused;
}

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}